html {
  overflow-y: hidden;
}
body {
  position: relative;
  height: 100vh;
  margin: 0;
}
main {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  flex-direction: column;
}

input {
  display: block;
  border-style: hidden;
  border-width: thin;
  border-radius: 24px;
  border-color: lightgray;
  margin-top: 20px;
  height: 30px;
  width: 90%;
  max-width: 600px;
  margin: auto;
  font-size: large;
  font-weight: lighter;
  color: #3b3b3b;
}

textarea:focus,
input:focus {
  outline: none;
}

#buttons {
  display: flex;
  margin-top: 1%;
  justify-content: center;
}

button {
  border: none;
  border-radius: 4px;
  padding: 11px 17px 11px 17px;
  font-family: arial, sans-serif;
  font-size: 15px;
  font-weight: lighter;
  background-color: #f7f7f7;
  color: #646464;
}

.buttonmargin {
  width: 10px;
}

#formdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#imgdiv {
  display: block;
  margin: 0 auto;
}

#logo {
  display: block;
  margin: 0 auto;
}

i {
  padding-top: 13px;
  color: grey;
  min-width: 50px;
  text-align: center;
  font-size: larger;
}

.formcont {
  display: flex;
  width: 90%;
  max-width: 600px;
  height: 44px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(228, 228, 228);
  border-radius: 24px;
  justify-items: center;
  align-content: space-between
}

.languageregion {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-family: arial, sans-serif;
  font-size: small;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  padding: 9px;
  font-family: arial, sans-serif;
  font-size: small;
  padding-top: 20px;
  text-decoration: none;
  color: #2e2e2e;
}

li a:hover {
  text-decoration: underline;
}

#apps_icon {
  padding-top: 6px;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 15px;
}

#profile_icon {
  font-size: 25px;
  padding-top: 0px;
  padding-left: 0px;
}

/* inicio footer */

footer {
  position: absolute;
  background-color: #f7f7f7;
  height: 76px;
  width: 100%;
  bottom: 0px;
}

.country {
  height: 38px;
  background-color: #f7f7f7;
  font-family: arial, sans-serif;
  margin: 0;
  padding-left: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(228, 228, 228);
  border-right-width: 0px;
  border-left-width: 0px;
}

.listas {
  height: 38px;
  padding-top: 10px;
  padding-left: 14px;
}

.sub-list {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
}

.linklistitem {
  display: inline;
  padding-top: 9px;
  padding-right: 30px;
  font-size: medium;
  color: #646464;
}

@media only screen and (max-width: 930px) {
  footer {
    height: 114px;
  }
  .footer-list {
    text-align: center;
  }

  .listas {
    height: 76px;
  }

  .left {
    display: block;
    float: none;
    height: 38px;
  }

  .right {
    display: block;
    float: none;
    height: 38px;
  }

  .leftitems {
    float: none;
    display: inline;
  }

  .rightitems {
    float: none;
    display: inline;
  }
}

/* fin footer */
